.pageTitle {
    font-size: xx-large;
}

.pageDescription {
    margin-top: 9px;
}

.pageContentContainer {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.menubarContainer {
    flex-grow: 1;
    max-width: 360px;
    display: flex;
    flex-flow: column nowrap;
}

.workbenchContainer {
    margin-left: 24px;
    flex-grow: 1;
}

.workbenchTitle {
    width: 100%;
    font-size: xx-large;
}
.workbenchDescription {
    margin-top: 10px;
}

.prompt {
    width: 100%;
    font-size: x-large;
}

.info {
    width: 100%;
    margin: 12px 0;
}

.optionContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.optionSwitchCont {
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
}
.optionLabel {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    align-items: center;
    padding: 0 20px;
    width: 180px;
    flex-grow: 1;
}
.optionExamples {
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 360px;
    flex-grow: 4;
}

.ioContainerBoth {
    width: 100%;
    padding: 10px 14px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.ioContainer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 15px;
}
.ioTitle {
    font-size: 18px;
    flex-grow: 1;
    width: 180px;
}
.inputFieldContainer {
    flex-grow: 1;
}
