.workbenchTitle {
    width: 100%;
    font-size: xx-large;
}

.prompt {
    width: 100%;
    font-size: x-large;
}

.info {
    width: 100%;
    margin: 12px 0;
}

.optionContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.optionLabel {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    align-items: center;
    padding: 0 20px;
    width: 180px;
    flex-grow: 1;
}
.optionExamples {
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 180px;
    flex-grow: 4;
}

.ioContainerBoth {
    display: flex;
}

.ioContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.ioTitle {
    font-size: 18px;
}
